<div class="td-page-blog-meta ml-2 pb-1 pt-2 mb-4">
  {{ with site.Home.OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ site.Title }}">
  <a class="widget-link" href="{{ .Permalink | safeURL }}"><div> <i class="fas fa-rss fab-icon"> </i> <span class="widget-link-text">RSS Feed</span></div> </a>
  {{ end -}}
  <a class="widget-link" href="https://twitter.com/ubuntu"><div> <i class="fab fa-twitter-square fab-icon"> </i> <span class="widget-link-text"> @ubuntu</span></div></a>
  <a class="widget-link" href="https://microk8s.io/docs"><div> <i class="fas fa-book"></i>  <span class="widget-link-text"> MicroK8s</span></div></a>
  <a class="widget-link" href="https://charmed-kubeflow.io/docs"><div> <i class="fas fa-book"></i>  <span class="widget-link-text"> Charmed Kubeflow</span></div></a>
  <a class="widget-link" href="https://ubuntu.com/kubernetes/docs"><div> <i class="fas fa-book"></i>  <span class="widget-link-text"> Charmed Kubernetes</span></div></a>
  <a class="widget-link" href="https://github.com/charmed-kubernetes/bundle"><div> <i class="fab fa-github-square fab-icon"></i> <span class="widget-link-text"> Charmed Kubernetes on GitHub </span></div></a>
  <a class="widget-link" href="https://discuss.kubernetes.io/c/general-discussions/microk8s/"><div> <i class="fab fa-discourse fab-icon"></i><span class="widget-link-text"> MicroK8s forum </span></div></a>
  
</div>
