---
title: "Everything Kube"
abstract: "Blog posts from Canonical's Kubernetes teams"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
Canonical's Kubernetes teams work on a wide variety of projects to deliver 
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### MicroK8s

Some inspiring stuff about MicroK8s

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### KubeFlow

More excting stuff about bundles

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Charmed Kubernetes

Architectural freedom. Fully automated operations. Extensible Kubernetes for all.
Kubernetes on Ubuntu gives you perfect portability of workloads across all infrastructures, from the datacentre to the public cloud. With a strong focus on AI/ML and providing a cloud-native platform for the enterprise, Ubuntu is the platform of choice for K8s.

Deep integration with infrastructure features such as LBaaS, storage, and networking means freedom and preservation of choice in infrastructure.

Blah blah etc. 


{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>This is a section</h2>
        <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Watch Video</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/?utm_source=kubernetes.io&utm_medium=nav&utm_campaign=kccncna20" button id="desktopKCButton">Attend KubeCon NA virtually on November 17-20, 2020</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/?utm_source=kubernetes.io&utm_medium=nav&utm_campaign=kccnceu21" button id="desktopKCButton">Attend KubeCon EU virtually on May 4 – 7, 2021</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

