---
title: "Everything Kube"
abstract: "Blog posts from Canonical's Kubernetes teams"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="ck-.svg" %}}
Canonical's Kubernetes teams work on a wide variety of projects to deliver the best Kubernetes experience, 
wherever you choose to run it. Check out the [team blog](../blog) for the latest development news, ideas and
projects.
{{% /blocks/feature %}}

{{% blocks/feature image="MicroK8s-256x256" %}}
#### MicroK8s

MicroK8s is the smallest, fastest, fully-conformant Kubernetes that tracks upstream releases and makes
clustering trivial. MicroK8s is great for offline development, prototyping, and testing. Use it on a
VM as a small, cheap, reliable k8s for CI/CD. It’s also the best production grade Kubernetes for
appliances. Develop IoT apps for k8s and deploy them to MicroK8s on your Linux boxes. For more about MicroK8s:
<ul>
  <li class= "f-list"> Check out the <a href="https://microk8s.io/docs"><span class="fas fa-file"></span>&nbsp;documentation</a></li>
  <li class= "f-list"> Clone the code from <a href="https://github.com/ubuntu/microk8s"><span class="fab fa-github"></span>&nbsp;Github </a> </li> 
  <li class ="f-list"> Join the conversation on the <a href="https://discuss.kubernetes.io/"><span class="fab fa-discourse"></span>&nbsp;Kubernetes.io forum</a></li>
</ul>

{{% /blocks/feature %}}

{{% blocks/feature image="kf-logo.svg" %}}
#### Charmed KubeFlow

Charmed Kubeflow is a full set of Kubernetes charm operator packages to deliver the 30+ applications
and services that make up the latest version of Kubeflow, for easy operations anywhere, from workstations
to on-prem, to public cloud and edge. For more about Charmed Kubeflow:
 <ul>
   <li class= "f-list"> Check out the <a href="https://charmed-kubeflow.io/docs/install"><span class="fas fa-file"></span>&nbsp;Install guide!</a></li>
   <li class= "f-list"> Find out more about Kubeflow on the <a href="https://www.kubeflow.org/docs/about/kubeflow/"> <span class="fas fa-globe"></span>&nbsp;Kubeflow website</a> </li> 
   <li class ="f-list"> Join the community on the <a href="https://kubeflow.slack.com/"><span class="fab fa-slack"></span>&nbsp;Kubeflow Slack channel</a></li>
 </ul>

{{% /blocks/feature %}}

{{% blocks/feature image="managedkubernetes-small.svg" %}}
#### Charmed Kubernetes

Architectural freedom. Fully automated operations. Extensible Kubernetes for all.
Kubernetes on Ubuntu gives you perfect portability of workloads across all infrastructures, from the datacentre to the public cloud. With a strong focus on AI/ML and providing a cloud-native platform for the enterprise, Ubuntu is the platform of choice for K8s.
<ul>
  <li class= "f-list"> Find out more about Charmed Kubernetes on the <a href="https://ubuntu.com/kubernetes/"><span class= "fab fa-ubuntu"></span>&nbsp;Ubuntu website</a></li>
  <li class= "f-list"> Check out the org on <a href="https://github.com/charmed-kubernetes"><span class="fab fa-github"></span>&nbsp;Github </a> </li> 
  <li class ="f-list"> Join the conversation on the <a href="https://discuss.kubernetes.io/"><span class="fab fa-discourse"></span>&nbsp;Kubernetes.io forum</a></li>
</ul>

{{% /blocks/feature %}}



